@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.itemHidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #d6e2f0;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 550px;
  background: #ffffff;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}

img {
  width: 100%;
  border-radius: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.1rem;
  justify-content: space-around;
  color: #1f3251;
}

p {
  color: #7b879d;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
